---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Creator Now" description='Creator Now Project'>
    <main class="creator-now">
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Designing tools for 5,400 YouTube creators</h1>
            <ul class="tag-list">
                <li class="tag">Creator Economy</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Redesigns</li>
                <li class="tag">Shipped</li>
            </ul>
            <article class="project-grid">
                <figure class="column-12">
                    <div class="img-mid bg-cn img-border">
                        <img src="/images/creator-now/cn-home-dashboard.png" alt="test">
                    </div>
                </figure>
                <p class="column-8">I joined as one of the first designers at <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>, an online education startup for aspiring creators. I worked with the 2 founders, product manager, and engineer closely to ship a variety of platform features and tools for YouTube creators.</p>
                <ul class="project-grid quick-overview column-12">   
                    <li class="column-3">
                        <h6>Role</h6>
                        <p>Product Designer</p>
                    </li>
                    <li class="column-3">
                        <h6>Team</h6>
                        <p> Zack Honarvar (Founder) <br>Kate Ward (Founder) <br> Ricardo Bedin (Engineer) <br> John Fish (Product Manger) <br>Dan Samargiu (Engineer)</p>
                    </li>
                    <li class="column-3">
                        <h6>Duration</h6>
                        <p>2022 - 2023</p>
                    </li>
                    <li class="column-3">
                        <h6>Link</h6>
                        <a href="https://www.creatornow.com/" target="_blank">creatornow.com</a>
                        <i class="ph ph-arrow-up-right"></i>
                    </li>
                </ul>
            </article>
        </section>
        
        <!-- Clan management -->
        <section class="cn-clan">
            <article class="grid">
                <h2 class="column-6">Clan management redesign</h2>
                <p class="column-6">A clan is a group of creators with similar interests or niche. There are over 100 clans on the platform. I redesigned the clan management experience for clan leaders to help them better manage and grow their clan.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-clan.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-clan-before-after.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-clan-onboarding.png" alt="test">
                    </div>
                </figure>
            </article>
        </section>

        <!-- League -->
        <section class="cn-league">
            <article class="grid">
                <h2 class="column-6">Leagues    </h2>
                <p class="column-6">I worked with Jiaying Wang to refine the leaderboard and create the MVP of leagues. I created all the badges after countless iterations in Midjourney.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-league-rainbow.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-league-gold.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-league-ring.png" alt="test">
                    </div>
                    <figcaption>One of my proudest projects. Went through hundreds of iterations to get to these final five badges.</figcaption>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-league-rank.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" autoplay loop src="../../video/creator-now/cn-league-levelup.mp4"></video>
                    </div>
                </figure>
            </article>
        </section>

        <!-- Feedback tool -->
        <section class="cn-feedback">
            <article class="grid">
                <h2 class="column-6">Feedback Tool</h2>
                <p class="column-6">It’s hard for creators to get feedback on their work or give feedback to others. I designed the MVP of the tool for creators to get feedback or “roast” other videos. It’s the most used tool on our platform.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-feedback-home.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" autoplay loop src="../../video/creator-now/cn-feedback-give.mp4"></video>
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" autoplay loop src="../../video/creator-now/cn-feedback-get.mp4"></video>
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-feedback-view.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-feedback-mobile.png" alt="test">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Daily Quests -->
        <section class="cn-daily-quests">
            <article class="grid">
                <h2 class="column-6">Daily Quests</h2>
                <p class="column-6">Daily quests encourages the creator to do a little of something every day. By doing so, they can get rewards and grow.</p>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-dq-main.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-dq-on-home.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" autoplay loop src="../../video/creator-now/cn-daily-quests.mp4"></video>
                    </div>
                </figure>
                
            </article>
        </section>

        <!-- Streaks -->
        <section class="cn-streaks">
            <article class="grid">
                <h2 class="column-6">Weekly Streaks</h2>
                <p class="column-6">It’s hard to be post consistently as a creator. So, inspired by Duolingo, I designed the weekly streak badge and home page cards that changes based on the day of week.</p>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-streak-cards.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-streak-badge.png" alt="test">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Messaging -->
        <section class="cn-messaging">
            <article class="grid">
                <h2 class="column-6">Messaging + Call</h2>
                <p class="column-6">The project that really pushed me UI wise. This was the first time I really focused on the details.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-on-home.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-home.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-messaging-detail-1.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-messaging-detail-2.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-special.png" alt="test">
                    </div>
                    <figcaption>A special one... Our first team call on the MVP platform</figcaption>
                </figure>
            </article>
        </section>

        <!-- Cohort Experience -->
        <section class="cn-cohort">
            <article class="grid">
                <h2 class="column-6">Creator Now x Yes Theory</h2>
                <p class="column-6">Creator Now collaborated with Yes Theory to host a live cohort program. The goal is to ensure a seamless conversion for both non-members and members.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-non-member-payment.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-member-payment.png" alt="test">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-complete.png" alt="test">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Referral -->
        <section class="cn-referral">
            <article class="grid">
                <h2 class="column-6">Referral</h2>
                <p class="column-6">Creators can refer friends to purchase the membership for the community. Morning Brew referral was a huge inspiration.</p>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-referral-main.png" alt="test">
                    </div>
                </figure>
            </article>
        </section>
    </main>
</MainLayout>