---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Creator Now" description='Creator Now Project'>
    <main class="creator-now">
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Designing tools for 5,400 YouTube creators</h1>
            <ul class="tag-list">
                <li class="tag">Creator Economy</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Redesigns</li>
                <li class="tag">Shipped</li>
            </ul>
            <article class="project-grid">
                <figure class="column-12">
                    <div class="img-mid bg-cn img-border">
                        <img src="/images/creator-now/cn-home-dashboard.jpg" alt="Creator Now home dashboard that displays challenges, video submission, live stream, daily quests, and upcoming events">
                    </div>
                </figure>
                <p class="column-8">I joined as one of the first designers at <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>, an online education startup for aspiring creators. I worked with the 2 founders, product manager, and engineer closely to ship a variety of platform features and tools for YouTube creators.</p>
                <ul class="project-grid quick-overview column-12">   
                    <li class="column-3">
                        <h6>Role</h6>
                        <p>Product Designer</p>
                    </li>
                    <li class="column-3">
                        <h6>Team</h6>
                        <p> 
                            <a href="https://twitter.com/zackhonarvar?lang=en" target="_blank">Zack Honarvar</a> (Founder)
                        </p>
                        <p>
                            <a href="https://twitter.com/bykateward?lang=en" target="_blank">Kate Ward</a> (Founder) 
                        </p>
                        <p>
                            <a href="https://www.youtube.com/@thejohnfish" target="_blank">John Fish</a> (Product Manager) 
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/rgbedin/" target="_blank">Ricardo Bedin</a> (Engineer)  
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/dansamargiu/" target="_blank">Dan Samargiu</a> (Engineer) 
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/jiayingwang0822/" target="_blank">Jiaying Wang</a> (Designer)
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/aviva-martin-9a661a178/" target="_blank">Aviva Martin</a> (Designer)
                        </p>
                           
                        <p>
                            <a href="https://twitter.com/haydencdesign" target="_blank">Hayden Carter</a> (Designer)
                        </p>
                    </li>
                    <li class="column-3">
                        <h6>Duration</h6>
                        <p>2022 - 2023</p>
                    </li>
                    <li class="column-3">
                        <h6>Link</h6>
                        <a href="https://www.creatornow.com/" target="_blank">creatornow.com</a>
                        <i class="ph ph-arrow-up-right"></i>
                    </li>
                </ul>
            </article>
        </section>
        
        <!-- Clan management -->
        <section class="cn-clan">
            <article class="grid text-d-banner">
                <h2 class="column-6">Clan management redesign</h2>
                <p class="column-6">A clan is a group of creators with similar interests or niche. There are over 100 clans on the platform. I redesigned the clan management experience for clan leaders to help them better manage and grow their clan.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-clan.jpg" alt="Dashboard for clan leader to manage their clan" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-clan-before-after.jpg" alt="Before and after of the clan management dashboard" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-clan-onboarding.jpg" alt="Onboarding popup that congratulates clan leader for creating a new clan" loading="lazy">
                    </div>
                </figure>
            </article>
        </section>

        <!-- League -->
        <section class="cn-league">
            <article class="grid text-d-banner">
                <h2 class="column-6">Leagues</h2>
                <p class="column-6">I worked with Jiaying Wang to refine the leaderboard and create the MVP of leagues. I created all the badges after countless iterations in Midjourney.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-league-rainbow.jpg" alt="Leaderboard displaying top creators in the rainbow league" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-league-gold.jpg" alt="Leaderboard displaying top creators in the gold league" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-league-ring.jpg" alt="Badges and avatar ring for each of the five leagues - bronze, silver, gold, crystal, and rainbow" loading="lazy">
                    </div>
                    <figcaption>One of my proudest projects. Went through hundreds of iterations to get to these final five badges.</figcaption>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-league-rank.jpg" alt="Rank of the five different creator levels which are bronze, silver, gold, crystal, and rainbow" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" muted autoplay loop src="../../video/creator-now/cn-league-levelup.mp4"></video>
                    </div>
                </figure>
            </article>
        </section>

        <!-- Feedback tool -->
        <section class="cn-feedback">
            <article class="grid text-d-banner">
                <h2 class="column-6">Feedback Tool</h2>
                <p class="column-6">It’s hard for creators to get feedback on their work or give feedback to others. I designed the MVP of the tool for creators to get feedback or “roast” other videos. It’s the most used tool on our platform.</p>
            </article>
            <article class="grid">
                
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-feedback-home.jpg" alt="Feedback page with options to give feedback, get feedback, or view feedback details" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" muted autoplay loop src="../../video/creator-now/cn-feedback-give.mp4"></video>
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" muted autoplay loop src="../../video/creator-now/cn-feedback-get.mp4"></video>
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-feedback-view.jpg" alt="Individual video feedback page displaying timestamp feedback and relevant watch stats" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-feedback-mobile.png" alt="Three mobile mockups of the feedback tool" loading="lazy">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Daily Quests -->
        <section class="cn-daily-quests">
            <article class="grid text-d-banner">
                <h2 class="column-6">Daily Quests</h2>
                <p class="column-6">Daily quests encourages the creator to do a little of something every day. By doing so, they can get rewards and grow.</p>
            </article>
            <article class="grid">

                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-dq-main.png" alt="Three cards showing the beginning, middle, and end of the daily quest card" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-dq-on-home.jpg" alt="Home dashboard but all the other elements faded out except the daily quest card" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <video class="img-all" muted autoplay loop src="../../video/creator-now/cn-daily-quests.mp4"></video>
                    </div>
                </figure>
                
            </article>
        </section>

        <!-- Streaks -->
        <section class="cn-streaks">
            <article class="grid text-d-banner">
                <h2 class="column-6">Weekly Streaks</h2>
                <p class="column-6">It’s hard to be post consistently as a creator. So, inspired by Duolingo, I designed the weekly streak badge and home page cards that changes based on the day of week.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/creator-now/cn-streak-cards.jpg" alt="Four weekly streaks each displaying a different color, message, and background based on the day of the week" loading="lazy">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Messaging -->
        <section class="cn-messaging">
            <article class="grid text-d-banner">
                <h2 class="column-6">Messaging + Call</h2>
                <p class="column-6">The project that really pushed me UI wise. This was the first time I really focused on the details.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-on-home.jpg" alt="Messaging popup on the bottom right of the home dashboard" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-home.jpg" alt="Full screen messaging showing a left panel displaying all the chats, a middle panel with the focused chat, and a right panel showing online and offline creators in the chat" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-messaging-detail-1.png" alt="Three chat popups displaying features: New messages, unpin messages, and new chat hover" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/creator-now/cn-messaging-detail-2.png" alt="Three chat popups displaying features: Tagging creators, new messages, and tagging popup" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-video.jpg" alt="Video call on Creator Now messaging platform" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-messaging-special.jpg" alt="First team call on the MVP video platform" loading="lazy">
                    </div>
                    <figcaption>A special one... Our first team call on the MVP platform</figcaption>
                </figure>
            </article>
        </section>

        <!-- Cohort Experience -->
        <section class="cn-cohort">
            <article class="grid text-d-banner">
                <h2 class="column-6">Creator Now x Yes Theory</h2>
                <p class="column-6">Creator Now collaborated with Yes Theory to host a live cohort program. The goal is to ensure a seamless conversion for both non-members and members.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-non-member-payment.jpg" alt="Payment page giving non members three options: Yes Theory cohort, Creator Now, and a bundle for both" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-member-payment.jpg" alt="In app popup promoting the Yes Theory cohort" loading="lazy">
                    </div>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-cohort-complete.jpg" alt="Popup congratulating the creator for completing the Yes Theory cohort" loading="lazy">
                    </div>
                </figure>
            </article>
        </section>

        <!-- Referral -->
        <section class="cn-referral">
            <article class="grid text-d-banner">
                <h2 class="column-6">Referral</h2>
                <p class="column-6">Creators can refer friends to purchase the membership for the community. Morning Brew referral was a huge inspiration.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/creator-now/cn-referral-main.jpg" alt="Referral page higlighting referral stats and different levels of rewards based on referral count" loading="lazy">
                    </div>
                </figure>
            </article>
        </section>
    </main>
</MainLayout>