---
import MainLayout from '/Users/guochen/Documents/Code/Home/home/src/layouts/MainLayout.astro'

---

<MainLayout title="Creator Now" description='Creator Now Project'>
    <h1>Creator Now</h1>
</MainLayout>