---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Creator Now" description='Creator Now Project'>
    <main class="creator-now">
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Designing tools for 5,400 YouTube creators</h1>
            <ul class="tag-list">
                <li class="tag">Creator Economy</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Redesigns</li>
                <li class="tag">Shipped</li>
            </ul>
            <article class="project-grid">
                <figure class="column-12">
                    <div class="img-mid bg-cn img-border">
                        <img src="/images/creator-now/cn-home-dashboard.png" alt="test">
                    </div>
                </figure>
                <p class="column-8">I joined as one of the first designers at <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>, an online education startup for aspiring creators. I worked with the 2 founders, product manager, and engineer closely to ship a variety of platform features and tools for YouTube creators.</p>
                <ul class="project-grid quick-overview column-12">   
                    <li class="column-3">
                        <h6>Role</h6>
                        <p>Product Designer</p>
                    </li>
                    <li class="column-3">
                        <h6>Team</h6>
                        <p> Zack Honarvar (Founder) <br>Kate Ward (Founder) <br> Ricardo Bedin (Engineer) <br> John Fish (Product Manger) <br>Dan Samargiu (Engineer)</p>
                    </li>
                    <li class="column-3">
                        <h6>Duration</h6>
                        <p>2022 - 2023</p>
                    </li>
                    <li class="column-3">
                        <h6>Link</h6>
                        <a href="https://www.creatornow.com/" target="_blank">creatornow.com</a>
                        <i class="ph ph-arrow-up-right"></i>
                    </li>
                </ul>
            </article>
        </section>
    </main>
</MainLayout>