---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Datadog" description='Datadog Project'>
    <main class="datadog">
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Designing logs and sensitive data scanner</h1>
            <ul class="tag-list">
                <li class="tag">Technical</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Redesigns</li>
            </ul>
            <article class="project-grid">
                <figure class="column-12">
                    <div class="img-mid bg-dd img-border">
                        <img src="/images/datadog/home.jpg" alt="Log explorer dashboard on Datadog displaying the error logs in the web service"> 
                    </div>
                </figure>
                <p class="column-8">During summer 2023, I joined Datadog as a Product Design Intern on the Logs Management team. I worked on a total of 8 projects - 5 for <a href="https://www.datadoghq.com/product/log-management/" target="_blank">logs management</a> and 3 for <a href="https://www.datadoghq.com/product/sensitive-data-scanner/" target="_blank">sensitive data scanner</a>. It was one of my most fruitful summers ever. I unfortunately could not share much due to NDA.</p>
                <ul class="project-grid quick-overview column-12">   
                    <li class="column-3">
                        <h6>Role</h6>
                        <p>Product Design Intern</p>
                    </li>
                    <li class="column-3">
                        <h6>Team</h6>

                        <p><a href="https://www.linkedin.com/in/rozmichelle/" target="_blank">Roslyn McConnell</a> (Manager) </p>
                        
                        <p><a href="https://www.linkedin.com/in/khushbooagarwal23/" target="_blank">Khushboo Agarwal</a> (Mentor) </p>
                        
                        <p><a href="https://www.linkedin.com/in/sejko/" target="_blank">Sejal Kotak</a> (Buddy) </p>

                    </li>
                    <li class="column-3">
                        <h6>Duration</h6>
                        <p>2023 Summer</p>
                    </li>
                    <li class="column-3">
                        <h6>Link</h6>
                        <a href="https://www.datadoghq.com/product/log-management/" target="_blank">datadoghq/com/logs</a>
                        <i class="ph ph-arrow-up-right"></i>
                    </li>
                </ul>
            </article>
        </section>
        
        <!-- Learnings  -->
        <section class="dd-learnings">
            <article class="text-banner">
                <h5>Learnings</h5>
                <h2>Summer 2023 at Datadog was no doubt one of the most incredible summers for me as a designer. Below are my top learnings:</h2>
            </article>

            <ul class="wide-grid text-gallery">
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-file-text icon-xlarge"></i>
                    <article>
                        <h3>How to write design doc</h3>
                        <p>At Datadog, if a designer wants to get feedback from the entire design org, they’ll write a design review doc. I found this to be super helpful and have continued to write design docs for all my projects.</p>
                    </article>
                </li>
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-pen-nib icon-xlarge"></i>
                    <article>
                        <h3>It’s not just about designing pixels</h3>
                        <p>A lot of times, you may pump out the design in 1-2 days. But then you realize that there’s a lot of steps before it can be shipped. This includes: Talk to other product teams to see how my designs will affect them / Get approval from mentor, manager, PM, and engineering lead / Do design QA with engineer / Set up success metrics.</p>  
                    </article>
                </li>
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-magic-wand icon-xlarge"></i>
                    <article>
                        <h3>Unblock yourself</h3>
                        <p>It’s natural to wait for others. But it’s not okay to just…wait and do nothing. You can always take other initiatives such as getting started on another project, following up with the stakeholder or document your designs for future use.</p>
                    </article>
                </li>
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-pen icon-xlarge"></i>
                    <article>
                        <h3>Different types of research</h3>
                        <p>Before, my mental model of research always defaulted to user research. But, as my manager Roz said, there are so many types of research (competitive analysis, secondary research, asking PMs). And know when to use what’s already available in the company.</p>
                    </article>
                </li>
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-align-center-horizontal icon-xlarge"></i>
                    <article>
                        <h3>Best practices to get quality feedback</h3>
                        <p>Always provide context / where we left off. Specify what type of feedback I want. Know your audience and tailor your delivery. Make it stupidly easy to give feedback.</p>
                    </article>
                </li>
                <li class="column-6 text-gallery-item">
                    <i class="ph ph-smiley icon-xlarge"></i>
                    <article>
                        <h3>Shout-out list for myself</h3>
                        <p>My manager recommended me to do this during our 30 days check in. And it made me realize: Hey, it’s nice to pause sometime, reflect on the things I did do well, and pat myself on the back.</p>
                    </article>
                </li>
            </ul>
        </section>

        <!-- Highlights -->
        <section class="dd-highlights">
            <article class="grid text-d-banner">
                <h2 class="column-6">Highlights & good times</h2>
                <p class="column-6">Below are snippest of great moments & contributions during the internship.</p>
            </article>
            <article class="grid">
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/datadog/dd-team-bowling.jpg" alt="Collage of team bowling" style="border-radius:8px" loading="lazy">
                    </div>
                    <figcaption>Team bowling with the team!</figcaption>
                </figure>
                <figure class="column-12">
                    <div class="img-mid img-border">
                        <img src="/images/datadog/dd-fun-time.jpg" alt="Presentation slide of a design fun time I lead" loading="lazy">
                    </div>
                    <figcaption>I led a casual design fun time for my team!</figcaption>
                </figure>
                <figure class="column-12">
                    <div class="img-mid">
                        <img src="/images/datadog/dash-graphics.jpg" alt="Two graphics that explains the power of flex logs" loading="lazy">
                    </div>
                    <figcaption>I designed two graphics that were used during DASH 2023 booth presentations</figcaption>
                </figure>
                <figure class="column-12">
                    <div class="img-all">
                        <img src="/images/datadog/dd-thank-you.jpg" alt="Thank you slide featuring everyone at Datadog that helped me" loading="lazy">
                    </div>
                    <figcaption>My last slide in my final presentation. Thank you everyone who made it awesome :)</figcaption>
                </figure>
            </article>
        </section>
    </main>
</MainLayout>