---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Inko Cat" description='Inko Cat Project'>
    <main>
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Building an all-in-one productivity tool from scratch</h1>
            <ul>
                <li class="tag">Productivity</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Personal Project</li>
                <li class="tag">Shipped</li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="/images/testing.png" alt="test">
                </figure>
                <p class="column-8">Inko Cat is a productivity tool that provides you the building blocks to create your own spaces. As the founding designer, I owned all the visuals and product. It’s one of the coolest feelings to use something you designed every day.</p>

            </article>
        </section>

        <!-- Overview -->


        <!-- Why -->


        <!-- What is Inko Cat -->


        <!-- Architecture -->


        <!-- Blocks -->

        <!-- Blocks -> Calendar  -->

        <!-- Blocks -> List -->

        <!-- Blocks -> Board -->

        <!-- Blocks -> Notes -->

        <!-- Blocks -> Journal -->

        <!-- Blocks -> Timer -->

        <!-- Blocks -> Image -->

        <!-- Spaces -->

        <!-- Key features  -->
    </main>
</MainLayout>