---
import MainLayout from '../../layouts/MainLayout.astro';

---

<MainLayout title="Inko Cat" description='Inko Cat Project'>
    <main class="inko-cat">
        <!-- Title + hero + description -->
        <section class="hero">
            <h1>Building an all-in-one productivity tool from scratch</h1>
            <ul>
                <li class="tag">Productivity</li>
                <li class="tag">0 to 1</li>
                <li class="tag">Personal Project</li>
                <li class="tag">Shipped</li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <div class="image-link img-mid img-border">
                        <img src="/images/inko-cat/hero-1.png" alt="test">;
                    </div>
                </figure>
                <p class="column-8">Inko Cat is a productivity tool that provides you the building blocks to create your own spaces. As the founding designer, I owned all the visuals and product. It’s one of the coolest feelings to use something you designed every day.</p>
            </article>
            <ul>
                <li>
                    <h6>Role</h6>
                    <p>Product Designer</p>
                </li>
                <li>
                    <h6>Team</h6>
                    <p>Ian Huang (Engineer)</p>
                </li>
                <li>
                    <h6>Duration</h6>
                    <p>2023 - Present</p>
                </li>
            </ul>
        </section>

        <!-- Why -->
        <section class="i-why">
            <h5>Why this project?</h5>
            <h2>None of the current tools help us manage tasks well and actually get stuff done</h2>
            <figure>
                <img src="../../images/testing.png" alt="inko cat">
            </figure>
        </section>

        <!-- What is Inko Cat -->
        <section class="i-what-is-inko-cat">
            <h5>What is Inko Cat?</h5>
            <h2>So, we built Inko Cat, a tool that gives you the building blocks to create your own productivity spaces</h2>
            <article class="grid">
                <h3 class="column-6">At its core, Inko Cat is flexible and interconnected.</h3>
                <ul class="column-6">
                    <li>
                        <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                        <p><strong>Flexible</strong> - You can add in different blocks (calendar, list, timer, etc) and customize them to your needs. </p>
                    </li>
                    <li>
                        <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                        <p><strong>Interconnected</strong> - Tasks are all synced. And you can drag them across different types of blocks.</p>  
                    </li>
                </ul>
            </article>
            <figure>
                <img src="../../images/testing.png" alt="inko cat">
            </figure>
        </section>

        <!-- Architecture -->
        <section class="i-architecture">
            <h5>Architecture</h5>
            <h2>In Inko Cat, there are blocks and spaces.</h2>
            <article class="grid">
                <h3 class="column-6">Blocks</h3>
                <p class="column-6">On the base level, Inko Cat is composed of blocks. Some blocks examples are calendar, kanban board, image, and timer.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
            <article class="grid">
                <h3 class="column-6">Spaces</h3>
                <p class="column-6">But, where do you place these blocks? Answer: A space. Think of space as a page or a canvas. You can add as many blocks in a space to fit your needs.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Blocks -->
        <section class="i-blocks">
            <h5>Blocks</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>We provide different types of blocks.</h2>
                </li>
                <li class="column-6">
                    <p>You can add as many blocks into a space. We provide different blocks, and we plan to add more in the future.</p>
                </li>
            </ul>
            <figure class="column-12">
                <img src="../../images/testing.png" alt="inko cat">
            </figure>
        </section>

        <!-- Blocks -> Calendar  -->
        <section class="i-blocks-calendar">
            <h5>Block 1</h5>
            <article class="grid">
                <h3 class="column-6">Calendar</h3>
                <p class="column-6">View your tasks and events on the calendar.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>test</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>test</figcaption>
                </figure>
            </article>
        </section>

        <!-- Blocks -> List -->

        <section class="i-blocks-list">
            <h5>Block 2</h5>
            <article class="grid">
                <h3 class="column-6">List</h3>
                <p class="column-6">A list view of your tasks.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>test</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>test</figcaption>
                </figure>
            </article>
        </section>

        <!-- Blocks -> Board -->

        <section class="i-blocks-board">
            <h5>Block 3</h5>
            <article class="grid">
                <h3 class="column-6">Board</h3>
                <p class="column-6">Great for tracking projects.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
            </article>
        </section>

        <!-- Blocks -> Notes -->

        <section class="i-blocks-notes">
            <h5>Block 4</h5>
            <article class="grid">
                <h3 class="column-6">Note</h3>
                <p class="column-6">Go-to place for brain dump and quick ideas.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Selected note in a list</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Deleting a note</figcaption>
                </figure>
            </article>
        </section>

        <!-- Blocks -> Journal -->
        <section class="i-blocks-journal">
            <h5>Block 5</h5>
            <article class="grid">
                <h3 class="column-6">Journal</h3>
                <p class="column-6">Safe space to record your day and thoughts.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Find journal entry on specific date</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Deleting a note</figcaption>
                </figure>
            </article>
        </section>

        <!-- Blocks -> Timer -->
        <section class="i-blocks-timer">
            <h5>Block 6</h5>
            <article class="grid">
                <h3 class="column-6">Timer</h3>
                <p class="column-6">A nod to the famous pomodoro technique.</p>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Start timer</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Timer with task</figcaption>
                </figure>
            </article>
        </section>

        <!-- Blocks -> Image -->

        <section class="i-blocks-image">
            <h5>Block 7</h5>
            <article class="grid">
                <h3 class="column-6">Image</h3>
                <p class="column-6">Add in GIFs / images to decorate your spaces.</p>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Change image</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Change fit</figcaption>
                </figure>
            </article>
        </section>

        <!-- Spaces -->
        <section class="i-spaces">
            <h5>Spaces</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Spaces are where blocks live</h2>
                </li>
                <li class="column-6">
                    <p>You can name these or change the icon to fit your needs - Work, Personal, Life, Classes, etc.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Create a new space</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Edit space icon</figcaption>
                </figure>
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Customize panel</figcaption>
                </figure>
            </article>
        </section>

        <!-- Key feature - customization  -->
        <section class="i-feature-customize">
            <h5>Key Features</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Customize your space & blocks</h2>
                </li>
                <li class="column-6">
                    <p>In terms of blocks themselves, you can change their view, filters, and sorting.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-4">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-8">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>
        
        <!-- Key feature - multi-select  -->
        <section class="i-feature-customize">
            <h5>Key Features</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Multi-select and bulk edit</h2>
                </li>
                <li class="column-6">
                    <p>You can press SHIFT to multi-select and bulk edit tasks.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Key feature - Google Calendar Integration  -->
        <section class="i-feature-gcal">
            <h5>Key Features</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Connect to your Google Calendar</h2>
                </li>
                <li class="column-6">
                    <p>You can view your Google Calendar events on Inko Cat to help time block your day.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Key feature - Synced Blocks  -->
        <section class="i-feature-synced-blocks">
            <h5>Key Features</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Sync blocks</h2>
                </li>
                <li class="column-6">
                    <p>Use synced blocks in multiple spaces. If you change one, it changes all of them.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Right click</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Edit a synced block</figcaption>
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                    <figcaption>Used in # spaces</figcaption>
                </figure>
            </article>
        </section>

        <!-- Key feature - Template Blocks  -->
        <section class="i-feature-template-blocks">
            <h5>Key Features</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Templates block</h2>
                </li>
                <li class="column-6">
                    <p>Use template blocks to quickly set up your space.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Landing Page  -->
        <section class="i-landing-page">
            <h5>Branding/Marketing</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Landing Page</h2>
                </li>
                <li class="column-6">
                    <p>I designed the landing page and overall visual style for Inko Cat.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-12">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Logo  -->
        <section class="i-logo">
            <h5>Branding/Marketing</h5>
            <ul class="grid">
                <li class="column-6">
                    <h2>Logo</h2>
                </li>
                <li class="column-6">
                    <p>The logo was created thanks to countless iterations on Midjourney AI.</p>
                </li>
            </ul>
            <article class="grid">
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
                <figure class="column-6">
                    <img src="../../images/testing.png" alt="inko cat">
                </figure>
            </article>
        </section>

        <!-- Learnings  -->
        <section class="i-learnings">
            <h5>Learnings</h5>
            <h2>One of the most satisfying moments so far and a perfect project for me to hone my skills</h2>

            <ul class="grid">
                <li class="column-6">
                    <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                    <h4>Put it out there</h4>
                    <p>It took us a long time to put in front of people. But now looking back, we should have showed people what we have as early as possible. Getting feedback early is one of the best things to do for a new product.</p>
                </li>
                <li class="column-6">
                    <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                    <h4>Be proud of what we’ve made</h4>
                    <p>I admit - I’m not a great pitch person. I’m often afraid that I’m taking up people’s time when promoting Inko Cat. But, I have realized that I wasn’t giving myself or the product a chance. If this is something that has genuinely made my life better (which it did), I’m actually doing people a favor by telling them about it. Be shameless. Be proud.</p>  
                </li>
                <li class="column-6">
                    <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                    <h4>Ship fast</h4>
                    <p>In early stages, sometimes you just need to ship it. Overthinking often times can kill momentum and delay the timeline.</p>
                </li>
                <li class="column-6">
                    <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
                    <p><strong>Interconnected</strong> - Tasks are all synced. And you can drag them across different types of blocks.</p>  
                </li>
            </ul>
        </section>
        
        <!-- What's Next  -->
        <section class="i-next">
            <h5>What's Next</h5>
            <h2>Right now, Ian is working at <a href="https://cursor.sh/" target="_blank">Cursor</a>, and I’m wrapping up my final semester at Tufts. So, though we don’t have a lot of time & big goals, we do intend to work on Inko Cat during nights & weekends. We also plan to apply for buildspace season 5. </h2>
        </section>
    </main>
</MainLayout>