---
import MainLayout from '/Users/guochen/Documents/Code/Home/home/src/layouts/MainLayout.astro'

---

<MainLayout title="Inko Cat" description='Inko Cat Project'>
    <h1>Inko Cat</h1>
</MainLayout>