:root {

    /* Font */
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem; 
    --font-size-large: 1.25rem; 
    --font-size-xlarge: 1.75rem; 
    --font-size-xxlarge: 2rem;

    --font-weight-reg: 400; 
    --font-weight-medium: 500; 
    --font-weight-semibold: 600; 
    --font-weight-bold: 700;

    --lh-small: 140%;
    --lh-medium: 150%;
    --lh-large: 160%;
    --lh-xlarge: 175%;

    /* Color Tokens */
    --color-gray-1: #fff; 
    --color-gray-2: #fbfbfb; 
    --color-gray-3: #f3f3f6; 
    --color-gray-4: #e7e7e7;
    --color-gray-5: #b5b5b5; 
    --color-gray-6: #646464; 
    --color-gray-7: #121212;

    --color-background-primary: var(--color-gray-1);
    --color-background-secondary: var(--color-gray-3); 
    --color-background-tertiary: var(--color-gray-2);
    --color-border-light: var(--color-gray-4);
    --color-border-dark: var(--color-gray-5);
    --color-text-primary: var(--color-gray-7);
    --color-text-secondary: var(--color-gray-6);

    --border-radius-small: 0.5rem;
    --border-radius-medium: 0.75rem;
    --border-radius-large: 1rem;
}

/* * {
    outline: 1px solid red;
} */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

nav, footer{
    padding-left: 3rem;
    padding-right: 3rem;
}

nav {
    margin: 1.5rem 0 6rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    overflow: hidden;
}

figure video {
    width: 100%;
    height: auto; 
    object-fit: cover;
    overflow: hidden;
}

.img-border img {
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border-light);
}

/* For image that's aligned to the center */
.img-mid {
    padding: 4rem;
    background-color: var(--color-background-tertiary);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border-light);
    overflow: hidden;
}

/* For image that's aligned to the right */
.img-right {
    padding: 2rem 0 0 0;
    background-color: var(--color-background-tertiary);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border-light);
    overflow: hidden;   
}

/* For image that's aligned to the bottom */
.img-bot {
    padding: 0.5rem 2rem 0;
    background-color: var(--color-background-tertiary);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border-light);
    overflow: hidden;   
}

/* For image that take up full width & height */
.img-all { 
    display: flex;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border-light);
    overflow: hidden;
}

.img-right img {
    position: relative;
    right: -2rem;
    bottom: -2rem;
}

.img-bot img {
    position: relative; 
    bottom: -2rem;
}

figure a[href]::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


figure img {
    transition: transform 0.3s ease;
}

figure a:hover img {
    transform: scale(1.02);
}

i {
    color: var(--color-text-secondary);
}

nav a {
    text-decoration: none;
    border-radius: var(--border-radius-small);
    padding: 0.5rem 0.75rem; 
    text-align: center;
}

nav a:hover {
    background-color: var(--color-background-secondary);
}

#project-list, header, .inko-cat {
    padding-left: 10rem;
    padding-right: 10rem;
}

#project-list li {
    margin: 0 0 8rem;
}

.project_description {
    margin: 0 0 1.25rem;
}

header h3 {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

body {
    margin: 0 auto;
}

#hero-illustration svg {
    width: 100%;
    margin: 3rem 0;
}


@keyframes spaceship {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

#spaceship {
    animation-name: spaceship;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cube {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

#cube {
    animation-name: cube;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes walk {
    50% {
        transform: translate(-15px, 10px);
    }
}

#figure-8 {
    animation-name: walk;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#figure-3 {
    animation-name: cube;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

svg {
    position: relative;
}

#spaceship, #laptop, #ping-pong, #microphone, #cup, #pencil, #cat, #pencil, #art-palette, #taipei-101 {
    position: absolute;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}
  
  #spaceship:hover, #laptop:hover, #ping-pong:hover, #microphone:hover, #cup:hover, #pencil:hover, #cat:hover, #pencil:hover, #art-palette:hover, #taipei-101:hover {
    /* transform: translateY(-0.5rem); */
  }


.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: var(--color-background-tertiary);
    padding: 0.25rem 0.75rem;
}

.skip:focus {
    position: absolute;
    left: 40px;
    width: auto;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0 0.5rem;
}

.logo p {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1.25rem;
}

.wide-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0 1.25rem;
}

.sub-header {
    margin-block-start: 3rem;
}

.tag {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-reg);
    font-size: var(--font-size-small);
    line-height: var(--lh-xlarge);
    color: var(--color-text-secondary);
    padding: 0.125rem 0.375rem 0.125rem 0.375rem;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius-small);
    display: inline-block;
    margin-right: 0.25rem;
}

.tag-list {
    margin-block-end: 2rem;
}

.tooltip {
    position: absolute;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-light);
    padding: 0.5rem;
    border-radius: var(--border-radius-medium);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    display: flex;
    width: 240px; 
    align-items: center;
    box-shadow: 2px 4px 10px rgba(89, 89, 89, 0.1);
    
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @keyframes scale-up-bottom {
    0% {
      transform: scale(0.5);
      transform-origin: 50% 100%;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 100%;
    }
  }
  

.tooltip-text {
    margin: 0; 
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-reg);
    font-size: var(--font-size-small);
    line-height: var(--lh-xlarge);
}
  
.tooltip.show {
    visibility: visible;
    opacity: 1; 
}
  
.tooltip-icon {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}

.project_description {
    width: 50%;
}

.column-3 {grid-column-start: span 3;}
.column-4 {grid-column-start: span 4;}
.column-6 {grid-column-start: span 6;}
.column-8 {grid-column-start: span 8;}
.column-12 {grid-column-start: span 12;}

.quick-overview {
    margin-block-end: 3rem;
}

h1 {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxlarge);
    line-height: var(--lh-small);
    color: var(--color-text-primary);
    margin: 0 0 1rem;
}

h2 {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xlarge);
    line-height: var(--lh-large);
    color: var(--color-text-primary);
    margin: 0 0 1rem;
    width: 70%;
}

h3 {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-large);
    line-height: var(--lh-xlarge);
    color: var(--color-text-primary);
    margin: 0 0 0.25rem;
}

h4 {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-medium);
    line-height: var(--lh-xlarge);
    color: var(--color-text-primary);
    margin: 0 0 0.25rem;
}

h5 {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    line-height: var(--lh-xlarge);
    color: var(--color-text-secondary);
    margin: 0 0 0.5rem;
}

h6, figcaption {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    line-height: var(--lh-xlarge);
    color: var(--color-text-secondary);
    text-transform: uppercase;
    margin: 0.5rem 0 0.25rem;
}


p {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-reg);
    font-size: var(--font-size-medium);
    line-height: var(--lh-xlarge);
    color: var(--color-text-secondary);
    margin: 0 0 0.5rem;
}

strong {
    font-family: 'PlusJakartaSans', sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: var(--lh-xlarge);
    color: var(--color-text-primary);
}

a {
    font-family: 'PlusJakartaSans', sans-serif;
    color: var(--color-text-secondary);
    text-decoration-thickness: .9px; 
    text-underline-offset: 3px;
    margin: 0 0 0.5rem;
}

a:hover {
    color: var(--color-text-primary);
}


ul {
    list-style-type: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default padding */
    margin-block-start: 0;
    margin-block-end: 0;
}

/* @media (min-width: 1400px) {
    body {
        max-width: 1100px;
    }
} */

/* Inko Cat */
.inko-cat section {
    margin-block-end: 5rem;
}
.project-grid .column-8{
    margin-block-start: 2rem;
}

.inko-cat figure {
    /* margin-block-end: 2rem; */
}

.text-banner {
    margin-block-end: 2rem;
}

.text-d-banner {
    margin-block-end: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem; 
    background-color: var(--color-background-secondary);
    margin-block-end: 1rem;
    border-radius: var(--border-radius-medium);
    gap: 0.5rem;
}

.text-gallery {
    margin-block-start: 4rem;
}

.text-gallery-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.icon-large {
    font-size: 1.5rem;
}

.icon-xlarge {
    font-size: 2rem;
}

.sub-section {
    margin-block-end: 4rem;
}

.inko-cat p {
    margin-block-end: 0.5rem;
}

.quick-overview {
    margin-block-start: 3rem;
}


@media (min-width: 1600px) {
    body {
        max-width: 1100px;
    }
}

@media (max-width: 1000px) {
    .column-3,
    .column-6,
    .column-4,
    .column-8 {
        grid-column-start: span 12;
    }

    /* .grid figure {
        grid-column-start: span 12;
    } */
}


