---
//component imports
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="About" description='My About Page' thumbnail="/images/og-img.jpg">
  <main class="about">
    <!-- Title + hero + description -->
    <section class="hero">
      <ul class="text-banner-img">
        <li>
          <h2>Hi! Thanks for stopping by</h2>
          <p>My name - Guo - is pronounced as “woah but with a g.” Also, it means “fruit” in Mandarin (果).</p>
          <p>I was born in Taipei, Taiwan. I lived there for 18 years then went to <a href="https://www.tufts.edu/" target="_blank">Tufts</a>. I will be working at <a href="https://www.datadoghq.com/" target="_blank">Datadog</a> NYC as a product designer in August.</p>
        </li>
        <li>
          <img src="/images/about/guo-2.jpg" alt="Guo looking to the left">
        </li>
      </ul>
        <ul class="t-gallery">
          <li>
            <h6>What I'm up to</h6>
            <p>Enjoying my final semester at Tufts and working on <a href="https://www.inko.cat/" target="_blank">Inko Cat</a>.</p>
          </li>
          <li>
            <h6>What I love</h6>
            <p>Cats. Cafe hopping. Table tennis. Anime. J-Pop & Mando-Pop.</p>
          </li>
          <li>
            <h6>Currently obsessed with</h6>
            <p>A <a href="https://www.youtube.com/watch?v=VbeDEYKJg2c&pp=ygUWcG9ydGVyIHJvYmluc29uIGdlbml1cw%3D%3D" target="_blank">walkthrough</a> of how Porter Robinson’s “Language” was made.</p>
          </li>
        </ul>
    </section>

    <!-- Journey -->
    <section class="journey">
        <h2>My Journey</h2>
        <article class="timeline">
          <ul class="container right">
            <li class="content">
              <article>
                <p class="tag">High school</p>
                <h3>I got into architecture</h3>
                <p>My first design interest was architecture. I was fascinated by all the different ways people interact with a space.</p>
              </article>
              <ul class="content-img-g">
                <li class="image-item">
                  <img src="/images/about/arch-1.jpg" alt="Closeup shot of a cardboard architecture model" loading="lazy">      
                </li>
                <li class="image-item">
                  <img src="/images/about/art-arch-2.jpg" alt="Closeup shot of an office model" loading="lazy">    
                </li>
              </ul>
              <!-- <img src="/images/about/arch-1.jpg" alt="Closeup shot of a cardboard architecture model" loading="lazy"> -->
            </li>
          </ul>
          <ul class="container left">
            <li class="content">
              <article>
                <p class="tag">High school</p>
                <h3>Got really into art</h3>
                <p>But then, I realized architecture wasn't for me. So, I got 200% into art in high school. Seriously, art studio was my 2nd home.</p>
              </article>
              <ul class="content-img-g">
                <li class="image-item">
                  <img src="/images/about/art-hoodie.jpg" alt="Hoodie man spray painting a building with a smoky background" loading="lazy">
                </li>
                <li class="image-item">
                  <img src="/images/about/art-concrete.jpg" alt="Concrete plastic bottle with plants" loading="lazy">
                </li>
                <li class="image-item">
                  <img src="/images/about/art-diarama.jpg" alt="Glass box of a spaceship diarama" loading="lazy">
                </li>
              </ul>

            </li>
          </ul>
          <ul class="container right">
            <li class="content">
              <article>
                <p class="tag">College</p>
                <h3>Early days in product design</h3>
                <p>Then, through a Tufts alumni, I learned about UX/product design! I was instantly hooked to its multidisciplinary nature. These were my early designs (Daily UI), and oh god...</p>
              </article>
              <ul class="content-img-g">
                <li class="image-item">
                  <img src="/images/about/art-ux-1.jpg" alt="Yellow popup to check in" loading="lazy">      
                </li>
                <li class="image-item">
                  <img src="/images/about/art-ux-2.jpg" alt="Two mockups - one as an invitation page and another as a planner" loading="lazy">        
                </li>
                <li class="image-item">
                  <img src="/images/about/art-ux-3.jpg" alt="Product page for a watch" loading="lazy">    
                </li>
              </ul>
            </li>
          </ul>
          <ul class="container left">
            <li class="content">
              <article>
                <p class="tag">Gap year</p>
                <h3>Self doubt, pivot, and return</h3>
                <p>I took a gap year during Covid 2020-21. At this point, I thought about not doing design and dabbled in music. Eventually, I came back to design because of a simple reason: I just love doing it.</p>
              </article>
              <ul class="content-img-g">
                <li class="image-item">
                  <img src="/images/about/art-music.jpg" alt="Interface of logic pro x" loading="lazy">         
                </li>
                <li class="image-item">
                  <img src="/images/about/art-sing.jpg" alt="Closeup shot of Guo singing to a microphone" loading="lazy">       
                </li>
              </ul>
          </ul>
          <ul class="container right">
            <li class="content">
              <article>
                <p class="tag">Now</p>
                <h3>Still going strong!</h3>
                <p>Thus far, I’ve worked at <a href="https://www.datadoghq.com/" target="_blank">Datadog</a>, <a href="https://corp.roblox.com/" target="_blank">Roblox</a>, <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>, and other wonderful companies as a product designer/intern. And I document my design journey through my <a href="https://guochen.substack.com/" target="_blank">new blog</a>!</p>
              </article>
              <ul class="content-img-g">
                <li class="image-item">
                  <img src="/images/about/art-datadog.jpg" alt="Group of people smiling in front of a camera" loading="lazy">         
                </li>
                <li class="image-item">
                  <img src="/images/about/art-cn.jpg" alt="Group of people smiling on a video call" loading="lazy">       
                </li>
                <li class="image-item">
                  <img src="/images/about/art-blog.jpg" alt="Banner for the blog called layers of design" loading="lazy">       
                </li>
                
              </ul>
            </li>
          </ul>
        </ul>
        </article>
    </section>

    <!-- building -->

    <section class="build">
      <article class="text-banner">
        <h2>I love to build</h2>
        <p>When I have an idea, I do whatever I can to make it happen. Check out what I’ve worked on:</p>
      </article>

      <ul class="card-gallery link-card">
        <li>
          <img src="/images/about/a-njpx.jpg" alt="Not Just Pixels podcast graphic" loading="lazy">
          <h4>
            <a href="https://rss.com/podcasts/notjustpixels/" target="_blank" class="title-a">Not Just Pixels</a>
          </h4>
          <p>Built a design podcast from scratch. Published 37 episodes with over 1K followers.</p>
        </li>
        <li>
          <img src="/images/about/a-blog.jpg" alt="A camp tent emoji on top of a green background" loading="lazy">
          <h4>
            <a href="https://rss.com/podcasts/notjustpixels/" target="_blank" class="title-a">Blog</a>
          </h4>
          <p>I like to write, think, and share ideas. Wrote 60+ articles with over 12K visitors.</p>
        </li>
        <li>
          <img src="/images/about/a-inko.jpg" alt="Inko Cat landing page" loading="lazy">
          <h4>
            <a href="https://www.inko.cat/" target="_blank" class="title-a">Inko Cat</a>
          </h4>
          <p>One of the coolest projects I’m working on with the legend Ian. Using it every day.</p>
        </li>
        <li>
          <img src="/images/about/a-dinobud.jpg" alt="Dinobud app that allows users to complete tasks with a partner and access a learning coach on the side" loading="lazy">
          <h4>
            <a href="https://devpost.com/software/dinobud" target="_blank" class="title-a">DinoBud</a>
          </h4>
          <p>Worked with Ariya, Aagam, and Sanskar. Won Best Interactivity & Financial Hack at PrincetonHack 2023.</p>
        </li>
        <li>
          <img src="/images/about/a-anytime.jpg" alt="A Chrome extension of a timezone converter" loading="lazy">
          <h4>
            <a href="https://chromewebstore.google.com/detail/anytime/afenjmeaoeobpikeliigimidhakelggd" target="_blank" class="title-a">AnyTime</a>
          </h4>
          <p>A hackathon project during Covid. Won Best Home Improvement in Sunhacks 2020.</p>
        </li>
        <li>
          <img src="/images/about/a-hidden-gems.jpg" alt="A site that displays hidden gems from my Notion database" loading="lazy">
          <h4>
            <a href="https://guo-hidden-gem.vercel.app/" target="_blank" class="title-a">Devlog #2: Hidden Gems</a>
          </h4>
          <p>A site that displays hidden gems from my Notion database.</p>
        </li>
        <li>
          <img src="/images/about/a-anime.jpg" alt="An article of my favorite animes back in 2023" loading="lazy">
          <h4>
            <a href="https://guo-anime.netlify.app/" target="_blank" class="title-a">Devlog #1: Anime</a>
          </h4>
          <p>Everything about me anime-related (2023 so it's outdated). Built with HTML & SCSS.</p>
        </li>
      </ul>
    </section>

    <!-- image gallery -->
    <section class="a-img-gallery">
      <article class="text-d-banner">
        <h2>What I love</h2>
        <p>A curation of what I love (food, hobbies, anime, artists, animals, etc) and brings me a smile to my face
      </article>
      <ul class="row">
        <li class="column">
          <article class="image-item">
            <img src="/images/about/cafe.jpg" alt="Well-lit and beautiful cafe with wooden chairs, plants, and concrete floor" loading="lazy">
            <article class="caption">
              <h5>Beautiful cafes</h5>
              <p style="font-size: 0.875rem">I love quiet, beautiful, and calm working cafes.</p>
            </article>          
          </article>
          <article class="image-item">
            <img src="/images/about/edgerunner.jpg" alt="David and Lucy sitting on the moon together in the anime Cyberpunk edgerunner" loading="lazy">
            <article class="caption">
              <h5>Cyberpunk Edgerunner</h5>
              <p style="font-size: 0.875rem">No anime has ever made me feel as emotional as edgerunner. My #1 anime.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/breakfast.jpg" alt="Breakfast shop in Taipei" loading="lazy">
            <article class="caption">
              <h5>Breakfast in Taiwan</h5>
              <p style="font-size: 0.875rem">Best breakfast ever.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/porter-robinson.jpg" alt="Porter Robinson's Nurture album" loading="lazy">
            <article class="caption">
              <h5>Porter Robinson</h5>
              <p style="font-size: 0.875rem">Love his Nurture album. Also, his 2021 <a href="https://www.youtube.com/watch?v=qMc-4GsuXJc&t=4668s" target="_blank">Language</a> performance - incredible.</p>
            </article>          
          </article>
          <article class="image-item">
            <img src="/images/about/mando-pop.jpg" alt="Vicky Chen's Am I Who I Am album" loading="lazy">
            <article class="caption">
              <h5>Vicky Chen</h5>
              <p style="font-size: 0.875rem">My number 1 Taiwanese singer. Favorite songs: <a href="https://www.youtube.com/watch?v=uaymV2BBD4o" target="_blank">炙愛</a>, <a href="https://www.youtube.com/watch?v=JTJEq0_CTKg&pp=ygUD54yc" target="_blank">猜</a>, <a href="https://www.youtube.com/watch?v=Iddcv_pGaeE&pp=ygUXd2l0aG91dCB5b3UgIHZpY2t5IGNoZW4%3D" target="_blank">Without You (Acoustic)</a></p>
            </article>  
          </article>
          <article class="image-item">
            <img src="/images/about/ping-pong.jpg" alt="Guo serving in table tennis">
            <article class="caption">
              <h5>Table tennis</h5>
              <p style="font-size: 0.875rem">It's the sport that I love and have been playing since I was 10.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/deca-dence.jpg" alt="Deca Dence anime poster" loading="lazy">
            <article class="caption">
              <h5>Deca Dence</h5>
              <p style="font-size: 0.875rem">One of my favorite "feel good" animes.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/curry.jpg" alt="Curry served with cheese and egg" loading="lazy">
            <article class="caption">
              <h5>Curry</h5>
              <p style="font-size: 0.875rem">Another one of my all-time comfort foods.</p>
            </article>
          </article>
        </li>
        <li class="column">
          <article class="image-item">
            <img src="/images/about/capybara.jpg" alt="A capybara with a duck on top of it" loading="lazy">
            <article class="caption">
              <h5>Capybara</h5>
              <p style="font-size: 0.875rem">Such a fascinating creature... So ... nonchalant ... and ... chill ...</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/cats.jpg" alt="Top down view of two cats" loading="lazy">
            <article class="caption">
              <h5>Chunks of cats</h5>
              <p style="font-size: 0.875rem">I mean... how can you not love that?</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/scallion-pancake.jpg" alt="Scallion pancake shop displaying the menu and a frying station" loading="lazy">
            <article class="caption">
              <h5>Scallion pancakes</h5>
              <p style="font-size: 0.875rem">The spot next to my elementary school in Taipei...such good times.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/braised-pork.jpg" alt="Three bowls of braised pork over rice and a cup of ice tea" loading="lazy">
            <article class="caption">
              <h5>Braised pork over rice</h5>
              <p style="font-size: 0.875rem">My favorite Taiwanese food. 10/10 comfort food.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/86.jpg" alt="86 anime poster" loading="lazy">
            <article class="caption">
              <h5>86</h5>
              <p style="font-size: 0.875rem">Such a beautiful ... and sad story. A special one.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/family.jpg" alt="Guo's family playing mahjong" loading="lazy">
            <article class="caption">
              <h5>Mahjong with family</h5>
              <p style="font-size: 0.875rem">Playing mahjong with family is the best.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/ramen.jpg" alt="Chicken ramen" loading="lazy">
            <article class="caption">
              <h5>Ramen</h5>
              <p style="font-size: 0.875rem">I love eating ramen. This is one of my favorite ramens (<a href="https://maps.app.goo.gl/kE1apQ8UAGEXKWzz5" target="_blank">map</a>).</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/bocchi.jpg" alt="Bocchi the rock anime" loading="lazy">
            <article class="caption">
              <h5>Bocchi the Rock</h5>
              <p style="font-size: 0.875rem">The band in this anime is my Spotify #1 in 2023. That's how much I love this anime.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/wonder-egg-priority.jpg" alt="Wonder egg priority opening soundtrack art" loading="lazy">
            <article class="caption">
              <h5><a href="https://www.youtube.com/watch?v=2UMMlEjPeEU" target="_blank">Wonder egg priority soundtrack</a></h5>
              <p style="font-size: 0.875rem">One of the best anime songtracks.</p>
            </article>
          </article>
        </li>
        <li class="column">
          <article class="image-item">
            <img src="/images/about/pixel.jpg" alt="Pixel art by onionlabs displaying a lot of vending machines" loading="lazy">
            <article class="caption">
              <h5>Pixel art</h5>
              <p style="font-size: 0.875rem">I love pixel art - such a beautiful, nostalgic style. Art by <a href="https://www.onionlabs.net/" target="_blank">OnionLabs</a>.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/ado.jpg" alt="Japanese artist Ado's song cover" loading="lazy">
            <article class="caption">
              <h5>Ado</h5>
              <p style="font-size: 0.875rem">One of my favorite Japanese singers. Love too many of her songs (<a href="https://www.youtube.com/watch?v=YnSW8ian29w" target="_blank">蛹</a>, <a href="https://www.youtube.com/watch?v=sOiMD45QGLs" target="_blank">ギラギラ</a>, <a href="https://www.youtube.com/watch?v=1FliVTcX8bQ" target="_blank">新時代</a>)</p>
            </article>            
          </article>
          <article class="image-item">
            <img src="/images/about/night-market.jpg" alt="Entrance of a taipei night market" loading="lazy">
            <article class="caption">
              <h5>Night market</h5>
              <p style="font-size: 0.875rem">Late nights at Taiwanese night market is a vibe.</p>
            </article>     
          </article>
          <article class="image-item">
            <img src="/images/about/frieren.jpg" alt="Frieren anime" loading="lazy">
            <article class="caption">
              <h5>Frieren</h5>
              <p style="font-size: 0.875rem">Incredible character designs, art, and most of all - the pacing.</p>
            </article>     
          </article>
          <article class="image-item">
            <img src="/images/about/yoasobi.jpg" alt="Japanese band Yoasobi featuring Ikura and Ayase" loading="lazy">
            <article class="caption">
              <h5>YOASOBI</h5>
              <p style="font-size: 0.875rem">At this point, I can't even count how YOASOBI songs I love.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/yorushika.jpg" alt="Yorushika album cover" loading="lazy">
            <article class="caption">
              <h5>Yorushika</h5>
              <p style="font-size: 0.875rem">The song <a href="https://www.youtube.com/watch?v=j83OVgv6woA&pp=ygUSbmF1dGlsdXMgeW9ydXNoaWth" target="_blank">"Nautilus"</a> is my favorite song during gap year 2020-21.</p>
            </article>
          </article>
          <article class="image-item">
            <img src="/images/about/cold-noodles.jpg" alt="Cold noodle with egg soup in Taipei" loading="lazy">
            <article class="caption">
              <h5>Cold noodles</h5>
              <p style="font-size: 0.875rem">My favorite cold noodle place in Taipei (<a href="https://maps.app.goo.gl/Lx4DPW7ksU9CNHZy7" target="_blank">map</a>).</p>
            </article>     
          </article>
          <article class="image-item">
            <img src="/images/about/kenshi.jpg" alt="Kenshi Yonezu" loading="lazy">
            <article class="caption">
              <h5>Kenshi Yonezu</h5>
              <p style="font-size: 0.875rem">One of my favorite Japanese artists as well. (<a href="https://www.youtube.com/watch?v=M2cckDmNLMI&pp=ygUJS0lDSyBCQUNL" target="_blank">KICK BACK</a>, <a href="https://www.youtube.com/watch?v=9aJVr5tTTWk&pp=ygUKUEVBQ0UgU0lHTg%3D%3D" target="_blank">ピースサイン</a>, <a href="https://www.youtube.com/watch?v=-tKVN2mAKRI&pp=ygUM5omT5LiK6Iqx54Gr" target="_blank">打上花火</a>)</p>
            </article>
          </article>
        </li>
      </ul>

    </section>
  </main> 
</MainLayout>

