---
//component imports
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Home" description='My Home Page'>
  <header>
    <h3>Guo Chen. <span style="color: var(--color-text-secondary);   font-weight: var(--font-weight-reg)">Interface designer who enjoys solving technical problems. Incoming @<a href="https://www.datadoghq.com/" target="_blank">Datadog</a>. Previously at <a href="https://corp.roblox.com/" target="_blank">Roblox</a> and <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>.</span></h3>
  </header>

  <main id="main">
    <!-- Hero SVG illustration -->
    <section id="hero-illustration">
      <svg width="1444" height="614" viewBox="0 0 1444 614" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 266.116 307.416)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 352.721 257.419)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 439.323 207.423)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 525.929 157.426)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 612.534 107.429)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 352.721 357.413)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 439.327 307.416)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 525.929 257.42)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 612.534 207.423)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 699.139 157.426)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 439.323 407.41)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 525.929 357.412)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 612.53 307.416)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 699.136 257.419)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 785.741 207.422)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 525.929 457.407)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 612.534 407.41)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 699.136 357.413)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 785.741 307.416)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 872.346 257.419)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 612.534 507.404)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 699.139 457.407)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 785.741 407.411)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 872.346 357.413)" stroke="#EEEEEE"/>
        <rect x="0.866044" width="99" height="99" transform="matrix(0.866044 -0.499967 0.866044 0.499967 958.952 307.416)" stroke="#EEEEEE"/>

        <!-- Shadow -->
        <rect y="0.499967" width="99" height="99" transform="matrix(0.866044 0.499967 -0.866044 0.499967 699.581 257.492)" fill="#EDEDED" stroke="#E7E7E7"/>
        
        <g id="block">
          <rect y="0.749951" width="98.5" height="98.5" transform="matrix(0.866044 0.499967 -0.866044 0.499967 698.251 132.375)" fill="white" stroke="#E7E7E7" stroke-width="1.5"/>
          <path d="M613.159 259.091L612.125 182.857L697.889 232.148L698.533 308.377L613.159 259.091Z" fill="white" stroke="#E7E7E7"/>
          <path d="M783.989 259.34L783.395 182.848L698.609 231.647L698.61 308.629L783.989 259.34Z" fill="white" stroke="#E7E7E7"/>
        </g>

        <g id="avatar-1">
          <circle cx="920" cy="149" r="7.5" fill="white" stroke="#B5B5B5"/>
          <path d="M933.5 180.5C933.5 190.561 927.125 198.5 919.5 198.5C911.875 198.5 905.5 190.561 905.5 180.5C905.5 170.439 911.875 162.5 919.5 162.5C927.125 162.5 933.5 170.439 933.5 180.5Z" fill="white" stroke="#B5B5B5"/>
        </g>

        <g id="avatar-2">
          <circle cx="1372" cy="225" r="7.5" fill="white" stroke="#B5B5B5"/>
          <path d="M1374.8 239.695L1387.15 268.772C1387.85 270.421 1386.64 272.25 1384.85 272.25H1360.15C1358.36 272.25 1357.15 270.421 1357.85 268.772L1370.2 239.695C1371.06 237.665 1373.94 237.665 1374.8 239.695Z" fill="white" stroke="#B5B5B5"/>
        </g>

        <g id="avatar-3">
          <circle cx="1096" cy="521" r="7.5" fill="white" stroke="#B5B5B5"/>
          <path d="M1114.5 545.5C1114.5 548.433 1112.53 551.172 1109.18 553.204C1105.83 555.23 1101.17 556.5 1096 556.5C1090.83 556.5 1086.17 555.23 1082.82 553.204C1079.47 551.172 1077.5 548.433 1077.5 545.5C1077.5 542.567 1079.47 539.828 1082.82 537.796C1086.17 535.77 1090.83 534.5 1096 534.5C1101.17 534.5 1105.83 535.77 1109.18 537.796C1112.53 539.828 1114.5 542.567 1114.5 545.5Z" fill="white" stroke="#B5B5B5"/>
        </g>

        <g id="avatar-4">
          <circle cx="103" cy="282" r="7.5" fill="white" stroke="#B5B5B5"/>
          <rect x="85.5" y="296.5" width="33" height="43" rx="7.5" fill="white" stroke="#B5B5B5"/>
        </g>

      </svg>
    </section>

    <section id="project-list">
      <ul>
        <!-- Inko Cat -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Inko Cat</p>
            </div>
            <h3>Building an all-in-one productivity tool from scratch</h3>
            <p>Creating a tool that gives you the building blocks to create your ideal workspace. Building 0 to 1 with a friend and owning all aspects of design.</p>
          </article>

          <!-- Gallery -->
          <article class="grid">
            <figure class="column-12">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-4">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Creator Now -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Creator Now</p>
            </div>
            <h3>Designing tools for 5,400 YouTube creators</h3>
            <p>Joined as one of the first designers. Worked on a ton of projects used by 5k creators. As of Feb 2024, <a href="https://www.tubefilter.com/2024/01/24/creator-economy-company-now-acquires-airrack-youtube-film-school/" target="_blank">Creator Now has been acquired by VidIQ.</a></p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-4">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Datadog -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-datadog.png" alt="Datadog Logo" width="32" height="32">
              <p>Datadog</p>
            </div>
            <h3>Designing new features and improvements in logs & sensitive data scanner</h3>
            <p>Worked on <strong>8 projects</strong> from 0 to 1 features to usability redesigns on the logs management and sensitive data scanner team.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/datadog">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>

        <!-- Roblox -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-roblox.png" alt="Roblox Logo" width="32" height="32">
              <p>Roblox</p>
            </div>
            <h3>Revamping 50+ mobile screens for Roblox settings</h3>
            <p>Redesigned the entire mobile app settings pages using the uiBlox design system and proposed UX improvements to senior designers.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/roblox">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
      </ul>
    </section>
  </main>

</MainLayout>


