---
//component imports
import MainLayout from '../layouts/MainLayout.astro'

---

<MainLayout title="Home" description='My Home Page'>
  <h1>Designing an all-in-one productivity tool</h1>
</MainLayout>


