---
//component imports
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Home" description='My Home Page'>
  <header>
    <h3>Guo Chen. <span style="color: var(--color-text-secondary)">Interface designer who enjoys solving technical problems. Incoming @<a href="https://www.datadoghq.com/" target="_blank">Datadog</a>. Previously at <a href="https://corp.roblox.com/" target="_blank">Roblox</a> and <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>.</span></h3>
  </header>

  <main id="main">
    <!-- Hero SVG illustration -->
    <section>

    </section>

    <section id="project-list">
      <ul>
        <!-- Inko Cat -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Inko Cat</p>
            </div>
            <h3>Building an all-in-one productivity tool from scratch</h3>
            <p>Creating a tool that gives you the building blocks to create your ideal workspace. Building 0 to 1 with a friend and owning all aspects of design.</p>
          </article>

          <!-- Gallery -->
          <article class="grid">
            <figure class="column-12">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-4">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Creator Now -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Creator Now</p>
            </div>
            <h3>Designing tools for 5,400 YouTube creators</h3>
            <p>Joined as one of the first designers. Worked on a ton of projects used by 5k creators. As of Feb 2024, <a href="https://www.tubefilter.com/2024/01/24/creator-economy-company-now-acquires-airrack-youtube-film-school/" target="_blank">Creator Now has been acquired by VidIQ.</a></p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-4">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Datadog -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-datadog.png" alt="Datadog Logo" width="32" height="32">
              <p>Datadog</p>
            </div>
            <h3>Designing new features and improvements in logs & sensitive data scanner</h3>
            <p>Worked on <strong>8 projects</strong> from 0 to 1 features to usability redesigns on the logs management and sensitive data scanner team.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/datadog">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>

        <!-- Roblox -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-roblox.png" alt="Roblox Logo" width="32" height="32">
              <p>Roblox</p>
            </div>
            <h3>Revamping 50+ mobile screens for Roblox settings</h3>
            <p>Redesigned the entire mobile app settings pages using the uiBlox design system and proposed UX improvements to senior designers.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/roblox">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
      </ul>
    </section>
  </main>

</MainLayout>


