---
//component imports
import MainLayout from '../layouts/MainLayout.astro'
---

<script>
  import "../scripts/javascript.js"
</script>

<MainLayout title="Home" description='My Home Page'>
  <header>
    <h3>Guo Chen. <span style="color: var(--color-text-secondary); font-weight: var(--font-weight-reg)">Interface designer who enjoys solving technical problems. Incoming @<a href="https://www.datadoghq.com/" target="_blank">Datadog</a>. Previously at <a href="https://corp.roblox.com/" target="_blank">Roblox</a> and <a href="https://www.creatornow.com/" target="_blank">Creator Now</a>.</span></h3>
  </header>

  <main id="main">
    <!-- Hero SVG illustration -->
    <section id="hero-illustration">
      <div class="svg-container">
        <svg width="1444" height="720" viewBox="0 0 1444 720" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="ping-pong" data-tooltip-content='<div class="tooltip-content"><video class="tooltip-icon" autoplay loop src="../images/hero/table-tennis-720.mp4"></video><p class="tooltip-text">I used to play table tennis competitively!</p></div>'>
            <path id="Vector_1529" d="M1157.07 641.534C1176.61 631.766 1175.95 615.598 1155.6 605.423C1135.24 595.248 1102.91 594.918 1083.37 604.686C1063.84 614.454 1064.5 630.622 1084.85 640.797C1105.2 650.972 1137.53 651.302 1157.07 641.534Z" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1530" fill-rule="evenodd" clip-rule="evenodd" d="M1129.71 648.375C1114.03 649.527 1097.22 646.981 1084.85 640.797C1064.51 630.628 1063.85 614.448 1083.37 604.686C1102.9 594.925 1135.26 595.255 1155.6 605.423C1167.96 611.608 1173.05 620.016 1170.75 627.852L1129.71 648.375Z" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1531" fill-rule="evenodd" clip-rule="evenodd" d="M1129.71 645.375C1114.03 646.527 1097.22 643.981 1084.85 637.797C1064.51 627.628 1063.85 611.448 1083.37 601.686C1102.9 591.925 1135.26 592.255 1155.6 602.423C1167.96 608.608 1173.05 617.016 1170.75 624.852L1129.71 645.375Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1532" fill-rule="evenodd" clip-rule="evenodd" d="M1170.75 627.854C1169.27 632.901 1164.72 637.711 1157.07 641.535C1149.42 645.36 1139.8 647.635 1129.71 648.377L1170.75 627.854Z" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1533" d="M1156.34 635.76L1145.52 641.172L1185.01 660.915L1195.83 655.503L1156.34 635.76Z" fill="#B9B9B9" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1534" fill-rule="evenodd" clip-rule="evenodd" d="M1141.85 646.674C1141.85 646.674 1151.61 644.216 1163.21 650.015C1174.8 655.814 1151.13 643.028 1151.13 643.028L1141.85 646.674Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1535" fill-rule="evenodd" clip-rule="evenodd" d="M1167.35 633.926C1167.35 633.926 1162.44 638.804 1174.03 644.603C1185.63 650.402 1160.06 638.566 1160.06 638.566L1167.35 633.926Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1536" d="M1156.34 632.566L1145.52 637.979L1185.01 657.722L1195.83 652.309L1156.34 632.566Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1537" d="M1185 657.722L1145.52 637.979V641.171L1185 660.915V657.722Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1538" d="M1185.01 657.721L1195.83 652.309V655.502L1185.01 660.914L1185.01 657.721Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path id="Vector_1539" d="M1129.7 645.375V648.375" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
          <g id="spaceship-shadow">
            <path id="Vector_1540" fill-rule="evenodd" clip-rule="evenodd" d="M1095.98 439.694L1081.78 446.796L1078.68 445.248L1092.88 438.146L1085.09 434.251L1213.68 369.957L1176.68 351.458L1152.68 363.457L1142.28 358.255L1107.09 375.851L1101.59 373.1L1090.87 378.458L1087.78 376.911L1098.49 371.553L1096.09 370.351L1131.28 352.755L1120.68 347.457L1217.78 298.91L1385.78 382.91L1367.2 392.198L1373.03 395.114L1313.03 425.114L1307.2 422.198L1288.68 431.457L1279.13 426.683L1243.09 444.708L1239.13 442.732L1229.28 447.661L1226.18 446.113L1236.04 441.184L1232.09 439.208L1268.14 421.184L1256.68 415.457L1280.68 403.457L1242.94 384.584L1114.35 448.878L1106.56 444.983L1091.46 452.531L1088.37 450.983L1103.46 443.435L1095.98 439.694Z" fill="#E8E8E8"/>
          </g>
          <g id="spaceship" data-tooltip-content='<div class="tooltip-content"><img src="/images/hero/spaceship.jpg" alt="spaceship" class="tooltip-icon"><p class="tooltip-text">I did a ton of art back in high school. My proudest project was a spaceship diorama + story.</p></div>'>
              <path id="Vector_1541" d="M1129.69 392.845L1098.09 377.047V394.452L1129.69 410.25V392.845Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1542" d="M1129.7 397.752L1260.2 332.502V345.002L1129.7 410.253V397.752Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1543" d="M1144.69 280.75L1208.69 248.75V266.75L1144.69 298.75V280.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1544" d="M1208.69 266.75L1144.69 298.75L1312.69 382.75L1376.69 350.75L1208.69 266.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1545" d="M1344.68 334.75L1256.68 378.75L1288.68 394.75L1376.68 350.75L1344.68 334.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1546" d="M1110.13 395.817L1078.54 380.02V398.425L1110.13 414.222V395.817Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1547" d="M1101.19 400.699L1074.99 387.598V394.104L1101.19 407.205V400.699Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1548" d="M1288.69 376.75L1256.69 360.75V378.75L1288.69 394.75V376.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1549" d="M1152.69 308.75L1120.69 292.75V310.75L1152.69 326.75V308.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1550" d="M1243.09 396.549L1232.09 391.049V399.049L1243.09 404.549V396.549Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1551" d="M1238.68 327.75L1144.68 280.75V298.75L1238.68 345.75V327.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1552" d="M1288.69 376.75L1385.88 328.156V346.157L1288.69 394.75V376.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1553" d="M1152.69 308.75L1176.69 296.75V314.75L1152.69 326.75V308.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1554" d="M1109.93 396.12L1242.68 329.746V347.746L1109.93 414.12V396.12Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1555" d="M1243.09 396.549L1281.29 377.453V385.453L1243.09 404.549V396.549Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1556" d="M1101.19 400.903L1105.09 398.953V405.257L1101.19 407.206V400.903Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1557" d="M1270.28 371.953L1232.09 391.049L1243.09 396.549L1281.28 377.454L1270.28 371.953Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1558" fill-rule="evenodd" clip-rule="evenodd" d="M1176.68 296.751L1152.68 308.75L1120.68 292.75L1217.78 244.203L1385.78 328.203L1288.68 376.75L1256.68 360.75L1280.68 348.75L1176.68 296.751Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1559" d="M1223.58 404.505L1238.68 396.957V400.648L1223.58 408.196V404.505Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1560" d="M1235.58 395.411L1220.48 402.959L1223.58 404.507L1238.68 396.959L1235.58 395.411Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1561" d="M1105.59 327.799L1094.59 322.299V330.299L1105.59 335.799V327.799Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1562" d="M1159.69 290.25L1136.69 278.75V286.75L1159.69 298.25V290.25Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1563" d="M1105.59 327.799L1143.79 308.703V316.703L1105.59 335.799V327.799Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1564" d="M1132.78 303.203L1094.59 322.299L1105.59 327.799L1143.78 308.704L1132.78 303.203Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1565" d="M1078.68 385.751L1074.99 387.6L1101.39 400.802L1105.09 398.954L1078.68 385.751Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1566" d="M1196.69 248.75L1136.69 278.75L1159.69 290.25L1219.69 260.25L1196.69 248.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1567" d="M1159.68 290.25L1219.68 260.25V268.25L1159.68 298.25V290.25Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1568" fill-rule="evenodd" clip-rule="evenodd" d="M1165.34 268.24V247.738H1191.97V268.24C1191.97 270.55 1186 272.426 1178.65 272.426C1171.3 272.426 1165.34 270.55 1165.34 268.24Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1569" d="M1178.65 251.48C1186.01 251.48 1191.97 249.606 1191.97 247.295C1191.97 244.983 1186.01 243.109 1178.65 243.109C1171.3 243.109 1165.34 244.983 1165.34 247.295C1165.34 249.606 1171.3 251.48 1178.65 251.48Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1570" fill-rule="evenodd" clip-rule="evenodd" d="M1172.23 245.829V234.66H1185.08V245.829C1185.08 247.087 1182.2 248.109 1178.66 248.109C1175.11 248.109 1172.23 247.087 1172.23 245.829Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1571" d="M1159.69 290.25L1136.69 278.75V286.75L1159.69 298.25V290.25Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1572" d="M1196.69 248.75L1136.69 278.75L1159.69 290.25L1219.69 260.25L1196.69 248.75Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1573" d="M1159.68 290.25L1219.68 260.25V268.25L1159.68 298.25V290.25Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1574" fill-rule="evenodd" clip-rule="evenodd" d="M1165.34 268.24V247.738H1191.97V268.24C1191.97 270.55 1186 272.426 1178.65 272.426C1171.3 272.426 1165.34 270.55 1165.34 268.24Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1575" d="M1178.65 251.48C1186.01 251.48 1191.97 249.606 1191.97 247.295C1191.97 244.983 1186.01 243.109 1178.65 243.109C1171.3 243.109 1165.34 244.983 1165.34 247.295C1165.34 249.606 1171.3 251.48 1178.65 251.48Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1576" fill-rule="evenodd" clip-rule="evenodd" d="M1172.23 245.829V234.66H1185.08V245.829C1185.08 247.087 1182.2 248.109 1178.66 248.109C1175.11 248.109 1172.23 247.087 1172.23 245.829Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1577" d="M1178.65 236.699C1182.2 236.699 1185.08 235.678 1185.08 234.419C1185.08 233.159 1182.2 232.139 1178.65 232.139C1175.11 232.139 1172.23 233.159 1172.23 234.419C1172.23 235.678 1175.11 236.699 1178.65 236.699Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1578" d="M1249.69 282.25L1265.69 274.25V285.25L1249.69 293.25V282.25Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1579" d="M1221.61 408.308C1222.86 408.931 1223.87 408.31 1223.87 406.921C1223.87 405.532 1222.86 403.901 1221.61 403.278C1220.37 402.655 1219.36 403.276 1219.36 404.665C1219.36 406.054 1220.37 407.685 1221.61 408.308Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1580" d="M1069.56 402.339L1084.66 394.791V398.482L1069.56 406.03V402.339Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1581" d="M1081.56 393.243L1066.46 400.791L1069.56 402.339L1084.65 394.791L1081.56 393.243Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1582" d="M1067.58 406.14C1068.83 406.763 1069.84 406.142 1069.84 404.753C1069.84 403.364 1068.83 401.733 1067.58 401.11C1066.34 400.487 1065.33 401.108 1065.33 402.497C1065.33 403.886 1066.34 405.517 1067.58 406.14Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1583" d="M1079.24 408.073L1094.34 400.525V404.216L1079.24 411.764V408.073Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1584" d="M1091.24 398.978L1076.15 406.525L1079.24 408.073L1094.34 400.525L1091.24 398.978Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1585" d="M1077.27 411.874C1078.52 412.497 1079.53 411.876 1079.53 410.487C1079.53 409.098 1078.52 407.467 1077.27 406.845C1076.03 406.222 1075.02 406.843 1075.02 408.232C1075.02 409.621 1076.03 411.252 1077.27 411.874Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1586" d="M1087.28 336.356L1102.38 328.809V332.499L1087.28 340.047V336.356Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1587" d="M1099.28 327.261L1084.18 334.809L1087.28 336.356L1102.37 328.809L1099.28 327.261Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1588" d="M1085.31 340.158C1086.56 340.78 1087.57 340.159 1087.57 338.771C1087.57 337.382 1086.56 335.751 1085.31 335.128C1084.06 334.505 1083.05 335.126 1083.05 336.515C1083.05 337.904 1084.06 339.535 1085.31 340.158Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1589" d="M1155.25 262.089L1170.34 254.541V258.232L1155.25 265.78V262.089Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1590" d="M1167.25 252.995L1152.16 260.543L1155.25 262.091L1170.35 254.543L1167.25 252.995Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1591" d="M1153.28 265.89C1154.53 266.513 1155.54 265.892 1155.54 264.503C1155.54 263.114 1154.53 261.483 1153.28 260.86C1152.04 260.237 1151.03 260.858 1151.03 262.247C1151.03 263.636 1152.04 265.267 1153.28 265.89Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1592" d="M1301.72 358.522L1278.72 347.021V355.022L1301.72 366.522V358.522Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1593" d="M1338.72 317.02L1278.72 347.02L1301.72 358.52L1361.72 328.52L1338.72 317.02Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1594" d="M1313.04 380.927L1301.72 375.268V383.268L1313.04 388.928V380.927Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1595" d="M1313.04 380.926L1373.04 350.926V358.926L1313.04 388.926V380.926Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1596" d="M1361.72 345.268L1301.72 375.268L1313.04 380.927L1373.04 350.927L1361.72 345.268Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1597" d="M1301.72 358.52L1361.72 328.52V336.52L1301.72 366.52V358.52Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1598" fill-rule="evenodd" clip-rule="evenodd" d="M1309.84 337.651V317.148H1336.48V337.651C1336.48 339.96 1330.51 341.836 1323.16 341.836C1315.81 341.836 1309.84 339.96 1309.84 337.651Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1599" d="M1323.16 320.89C1330.51 320.89 1336.47 319.016 1336.47 316.705C1336.47 314.393 1330.51 312.52 1323.16 312.52C1315.81 312.52 1309.84 314.393 1309.84 316.705C1309.84 319.016 1315.81 320.89 1323.16 320.89Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1600" d="M1299.76 331.499L1314.86 323.951V327.642L1299.76 335.19V331.499Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1601" d="M1311.76 322.405L1296.66 329.953L1299.76 331.501L1314.85 323.953L1311.76 322.405Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1602" d="M1297.79 335.3C1299.04 335.923 1300.05 335.302 1300.05 333.913C1300.05 332.524 1299.04 330.893 1297.79 330.27C1296.55 329.648 1295.54 330.269 1295.54 331.657C1295.54 333.046 1296.55 334.677 1297.79 335.3Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1603" fill-rule="evenodd" clip-rule="evenodd" d="M1316.54 260.823V292.823L1110.54 395.822L1275.34 281.423L1316.54 260.823Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1604" fill-rule="evenodd" clip-rule="evenodd" d="M1280.68 243.757V278.757L1078.54 379.83L1240.25 263.972L1280.68 243.757Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1605" fill-rule="evenodd" clip-rule="evenodd" d="M1324.7 283.587V304.743L1280.69 326.751L1315.9 287.989L1324.7 283.587Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1606" d="M1316.7 279.586L1308.25 283.811L1316.25 287.811L1324.7 283.586L1316.7 279.586Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1607" fill-rule="evenodd" clip-rule="evenodd" d="M1308.26 283.812L1316.48 287.699L1280.69 326.751L1272.69 322.751L1308.26 283.812Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1608" fill-rule="evenodd" clip-rule="evenodd" d="M1250.7 247.169V268.325L1206.68 290.333L1241.89 251.571L1250.7 247.169Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1609" d="M1242.69 243.168L1234.25 247.393L1242.25 251.393L1250.69 247.168L1242.69 243.168Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1610" fill-rule="evenodd" clip-rule="evenodd" d="M1234.25 247.395L1242.47 251.282L1206.68 290.334L1198.68 286.334L1234.25 247.395Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1611" fill-rule="evenodd" clip-rule="evenodd" d="M1078.54 380.227L1109.94 396.123L1274.69 281.749L1239.94 264.189L1078.54 380.227Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1612" fill-rule="evenodd" clip-rule="evenodd" d="M1316.73 315.237V304.068H1329.58V315.237C1329.58 316.495 1326.71 317.517 1323.16 317.517C1319.61 317.517 1316.73 316.495 1316.73 315.237Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1613" d="M1323.16 306.109C1326.71 306.109 1329.58 305.088 1329.58 303.829C1329.58 302.57 1326.71 301.549 1323.16 301.549C1319.61 301.549 1316.73 302.57 1316.73 303.829C1316.73 305.088 1319.61 306.109 1323.16 306.109Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1614" d="M1281.53 243.393L1239.75 264.285L1274.47 281.643L1316.25 260.751L1281.53 243.393Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1615" d="M1284.19 248.5L1300.19 240.5V261L1284.19 269V248.5Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1616" d="M1284.19 248.5L1261.19 237V257.5L1284.19 269V248.5Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_1617" d="M1277.19 229L1261.19 237L1284.19 248.5L1300.19 240.5L1277.19 229Z" fill="white" stroke="#B6B6B6" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          
        </svg>
      </div>
    </section>

    <section id="project-list">
      <ul>
        <!-- Inko Cat -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Inko Cat</p>
            </div>
            <h3>Building an all-in-one productivity tool from scratch</h3>
            <p>Creating a tool that gives you the building blocks to create your ideal workspace. Building 0 to 1 with a friend and owning all aspects of design.</p>
          </article>

          <!-- Gallery -->
          <article class="grid">
            <figure class="column-12">
                <a href="./project/inko">
                    <div class="image-link img-mid img-border">
                      <img src="/images/inko-cat/hero-1.png" alt="test">
                    </div>
                </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <div class="image-link img-right">
                  <img src="/images/inko-cat/drag.png" alt="test">
                </div>
              </a>
            </figure>
            <figure class="column-6">
              <a href="./project/inko">
                <div class="image-link img-bot">
                  <img src="/images/inko-cat/repeat-select.png" alt="test">
                </div>
              </a>
              
            </figure>
            <figure class="column-4">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/inko">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Creator Now -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-inko.png" alt="Inko Cat Logo" width="32" height="32">
              <p>Creator Now</p>
            </div>
            <h3>Designing tools for 5,400 YouTube creators</h3>
            <p>Joined as one of the first designers. Worked on a ton of projects used by 5k creators. As of Feb 2024, <a href="https://www.tubefilter.com/2024/01/24/creator-economy-company-now-acquires-airrack-youtube-film-school/" target="_blank">Creator Now has been acquired by VidIQ.</a></p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-4">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
            <figure class="column-8">
              <a href="./project/creator-now">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
        <!-- Datadog -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-datadog.png" alt="Datadog Logo" width="32" height="32">
              <p>Datadog</p>
            </div>
            <h3>Designing new features for logs and sensitive data scanner</h3>
            <p>Worked on <strong>8 projects</strong> from 0 to 1 features to usability redesigns on the logs management and sensitive data scanner team.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/datadog">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>

        <!-- Roblox -->
        <li>
          <!-- Description -->
          <article class="project_description">
            <div class="logo">
              <img src="/images/logo-roblox.png" alt="Roblox Logo" width="32" height="32">
              <p>Roblox</p>
            </div>
            <h3>Revamping 50+ mobile screens for Roblox settings</h3>
            <p>Redesigned the entire mobile app settings pages using the uiBlox design system and proposed UX improvements to senior designers.</p>
          </article>

          <!-- Gallery -->    
          <article class="grid">
            <figure class="column-12">
              <a href="./project/roblox">
                <img src="/images/testing.png" alt="test">
              </a>
            </figure>
          </article>
        </li>
      </ul>
    </section>
  </main>

</MainLayout>



