---

---

<footer>
    <section class="footer-info">
        <p>Designed and hand-coded with care. Listening to</p>
        <a href="https://www.youtube.com/watch?v=8Z3TbMBfDM0&pp=ygUXY29tbW9uIHdvcmxkIGRvbWluYXRpb24%3D" target="_blank">
            Common World Domination
        </a>
    </section>
    <section class="links">
        <a href="blank">Email</a>
        <p>/</p>
        <a href="blank">Twitter</a>
        <p>/</p>
        <a href="blank">LinkedIn</a>
        <p>/</p>
        <a href="blank">Podcast</a>
        <p>/</p>
        <a href="blank">Blog</a>
    </section>

</footer>

<style>
    footer {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-info {
        display: flex;
        flex-direction: horizontal;
        align-items: center;
        gap: 0.5rem;
    }
    footer .links {
        display: flex;
        flex-direction: horizontal;
        align-items: center;
        gap: 0.5rem;
    }
</style>
