---
import MainHead from './MainHead.astro';
import MainFooter from './MainFooter.astro';
import Nav from './Nav.astro';

interface Props {
    title: string; 
    description: string;
}

const {
    title = "Guo's Portfolio",
    description = "The digital home I always wanted",
} = Astro.props as Props;

import '../styles/global.css';

---

<html lang="en">
	<MainHead {title} {description}/>
    
	<body>
        <a href="#main" class="skip">Skip to main content</a>
        <Nav/>
        <slot>

        </slot>
        <MainFooter/>
	</body>
</html>