---
import MainHead from './MainHead.astro';
import MainFooter from './MainFooter.astro';
import MainHeader from './MainHeader.astro';


interface Props {
    title: string; 
    description: string;
}

const {
    title = "Guo's Portfolio",
    description = "The digital home I always wanted",
} = Astro.props as Props;
---

<html lang="en">
	<MainHead {title} {description}/>
    <MainHeader/>
	<body>
		<slot>

        </slot>
	</body>
    <MainFooter></MainFooter>
</html>