---
const { frontmatter } = Astro.props;
import MainLayout from '../layouts/MainLayout.astro';

---
<MainLayout title={frontmatter.title} description={frontmatter.description}>
    <main class="blog-post">
        <h1>{frontmatter.title}</h1>
        <slot />
    </main>

    <style>
        
    </style>

</MainLayout>
