---

---

<nav>
    <ul>
        <li class="nav-item-right"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
            <a 
                href="https://twitter.com/guo_hq" target="_blank">Twitter
                <i class="ph ph-arrow-up-right"></i>
            </a>
        </li>
        <!-- <li>
            <a 
                href="https://www.linkedin.com/in/guo-chen18/" target="_blank">LinkedIn
                <i class="ph ph-arrow-up-right"></i>
            </a>
        </li> -->   
        <li>
            <a 
                href="https://github.com/guochen" target="_blank">Resume
                <i class="ph ph-arrow-up-right"></i>
            </a>
            
        </li>
    </ul>
</nav>

