---

---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://www.linkedin.com/in/guo-chen18/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/guochen" target="_blank">Resume</a></li>
    </ul>
</nav>

